<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.snagpay">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnagPay">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Activity_About_App"/>
        <activity android:name=".Activity.Activity_Report_Infringement" />
        <activity android:name=".Activity.Activity_Gifting" />
        <activity android:name=".Activity.Activity_Faq" />
        <activity android:name=".Activity.Activity_PrivatePolicy" />
        <activity android:name=".Activity.Activity_ReturnPolicies" />
        <activity android:name=".Activity.Activity_VendorCodeProduct" />
        <activity android:name=".Activity.Activity_LearnMerchant" />
        <activity android:name=".Activity.Activity_ThanksSeller" />
        <activity android:name=".Activity.Activity_NewPassword" />
        <activity android:name=".Activity.Activity_IncredibleDealsInner" />
        <activity android:name=".Activity.Activity_More" />
        <activity android:name=".Activity.Activity_WorkwithSnagpay" />
        <activity android:name=".Activity.Activity_IncredibleDeals" />
        <activity android:name=".Activity.Activity_SnagpayGuideItems" />
        <activity android:name=".Activity.Activity_SnagpayGuide" />
        <activity android:name=".Activity.Activity_Jobs" />
        <activity android:name=".Activity.Activity_InvestorRelations" />
        <activity android:name=".Activity.Activity_PressInner" />
        <activity android:name=".Activity.Activity_Press" />
        <activity android:name=".Activity.Activity_AboutSnagpay" />
        <activity android:name=".Activity.Activity_Company" />
        <activity android:name=".Activity.Activity_SnagpayDeals" />
        <activity android:name=".Activity.Activity_ResetPassword" />
        <activity android:name=".Activity.Activity_GiveAsGift" />
        <activity android:name=".Activity.Activity_Cart" />
        <activity android:name=".Activity.Activity_TermsCondition" />
        <activity android:name=".Activity.Activity_AddMoneySuccessfully" />
        <activity android:name=".Activity.Activity_AddMoneyProcess" />
        <activity android:name=".Activity.Activity_AddMoneyWallet" />
        <activity android:name=".Activity.Activity_Statement" />
        <activity android:name=".Activity.Activity_SnagpayWallet" />
        <activity android:name=".Activity.Activity_NotificationSettings" />
        <activity android:name=".Activity.Activity_CustomerSupport" />
        <activity android:name=".Activity.Activity_PaymentMethods" />
        <activity android:name=".Activity.Activity_ManageMyWishList" />
        <activity android:name=".Activity.Activity_OrderDetails" />
        <activity android:name=".Activity.Activity_MyPurchases" />
        <activity android:name=".Activity.Activity_FilterSortBy" />
        <activity android:name=".Activity.Activity_ThankYou" />
        <activity android:name=".Activity.Activity_AddShippingAddress" />
        <activity android:name=".Activity.Activity_ShippingAddress" />
        <activity android:name=".Activity.Activity_AddCards" />
        <activity android:name=".Activity.Activity_ReviewOrder" />
        <activity android:name=".Activity.Activity_ProductDetails" />
        <activity android:name=".Activity.Activity_HomeInner" />
        <activity android:name=".Activity.Activity_ChangePassword" />
        <activity android:name=".Activity.Activity_CheckOtp" />
        <activity android:name=".Activity.Activity_ForgotPassword" />
        <activity android:name=".Activity.Activity_SignInSignUp" />
        <activity android:name=".Activity.Activity_SelectCity" />
        <activity android:name=".Activity.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />

        <service
            android:name=".Utils.GetAddressIntentService"
            android:exported="false" />
    </application>

</manifest>